@page
@model AddressBook.Pages.FromDataBaseModel
@{
}
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h1>Downloaded from Database: </h1>
<table>
    <tr>
        <th>Maker</th>
        <th>Image</th>
        <th>Title</th>
        <th>Link</th>
        <th>Description</th>
    </tr>
    @foreach (var prod in Model.Products)
    {
        <tr>
            <td>@prod.Maker</td>
            <td><img src="@prod.Image" alt="@prod.Image" width="200px" height="auto" /></td>
            <td>@prod.Title</td>
            <td><a href="@prod.Url">Click!</a></td>
            <td>@prod.Description</td>
        </tr>
    }
</table>